/.ipynb_checkpoints
/11.PNG
/12321321312.PNG
/2plane.png
/airplane-154271_1280.png
/ERD.png
/flask
/flights_map.html
/FV_테이블설계서.xlsx
/GoGoBook
/GoodITEdu
/index.html
/Interactive-1.ipynb
/KakaoTalk_20241213_1050_58_400_group.txt
/mnd
/OL_StockManagement
/opensky-api-master
/opensky_api.py
/test.py
/test2 to map.py
/test2.py
/test3.py
/zip.py
/__pycache__
/데이터베이스 분석 설계 과정.txt
/인천공항.txt
/프로젝트 제안서 - 후부이.hwp
/프로젝트분석설계문서.zip
/항공기벡터.txt
/화면설계서.png